.horizontal-picklist {
    display: flex;
    align-items: center;
}

.genre-picklist {
    flex: 1; /* This will make the picklist expand to fill available space */
    width: 100%; /* Ensure the picklist takes up the entire width */
    max-width: none; /* Disable any max-width set previously */
    padding: 5px; /* Add padding for a better visual appearance */
}

.pick-genre{
    font-size: 15px;
    font-weight: bold;
    margin-left: 5px;
}